.boton{ 
margin-left: 600px;
margin-right: 550px;
text-align: center;
align-items: center;
align-self: center;
align-content: center;
 }

 .form-texto{
 	margin-right: 300px;
 	margin-left: 600px;
 }

 .texto-centrado{
 	text-align: center;
 }